# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# UE4 Specific Ignores
SaviorGame/Intermediate/
SaviorGame/Saved/
SaviorGame/Build/
SaviorGame/*.sdf
SaviorGame/*.sln
SaviorGame/*.v12.suo
SaviorGame/Binaries/Win64/UE4Editor-SaviorGame.pdb