# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# UE4 Specific Ignores
Savior Game/Intermediate/
Savior Game/Saved/
Savior Game/Build/
Savior Game/*.sdf
Savior Game/*.sln
Savior Game/*.v12.suo